.common_color {
  color: chocolate;
}
.common_small_text {
  color: #888484;
  font-size: small;
}
.common_btn {
  background-color: #ff5400;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}
.common_text_color {
  color: #ff5400;
  font-weight: 700;
}
.common_text_weight {
  font-weight: 600;
}
/* head section */
nav > .logo_title {
  display: flex;
  gap: 50px;
}
.nav_title {
  display: flex;
  justify-content: space-between;
  padding: 0 110px;
}
.nav_bar {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
}
.nav_bar li a {
  margin-right: 20px;
}

.header_item {
  background-image: url(Images/head\ img.png);
  background-position-x: 140px;
  background-repeat: no-repeat;

  margin-top: 70px;
  width: 91%;
  height: 450px;
}
.header_title {
  text-align: center;
  padding-left: 110px;
  padding-top: 50px;
}
.main_title {
  color: white;
  font-size: 30px;
  font-weight: 600;
}
.main_title_discription {
  color: aliceblue;
  font-size: small;
}
/* filter section */
.common_filter_bar {
  padding: 20px 0px;
  padding-left: 3px;
  border: none;
  border-radius: 5px;
}

.filter_container {
  /* width: 100%; */
  margin-top: 60px;
}
.filter_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  position: relative;
  padding: 20px 70px;
  /* border-radius: 20px; */
  background: rgba(255, 255, 255, 0.452);
}
/* popular section */
.popular_container {
  padding: 50px 15%;
  display: flex;
  gap: 60px;
}
.popular_content {
  text-align: justify;
}
.popular_img {
  height: 400px;
  width: 400px;
}
.popular_heading {
  font-size: 30px;
  font-weight: 600;
}
.chossing_containar {
  align-items: center;
  text-align: center;
}
.chossing_title {
  font-size: 30px;
  font-weight: 600;
}
/* chossing photo section */
.box_container_1 {
  display: flex;
  gap: 20px;
  padding: 10px 80px;
}
.box_1_title {
  color: white;
  font-size: 28px;
  font-weight: 540;
  position: relative;
  bottom: 200px;
  left: 43%;
}
.box_container_2 {
  display: flex;
  gap: 20px;
  padding: 10px 80px;
}
.box_2_title {
  color: white;
  font-size: 28px;
  font-weight: 540;
  position: relative;
  bottom: 200px;
  left: 43%;
}
.box_3_title {
  color: white;
  font-size: 28px;
  font-weight: 540;
  position: relative;
  bottom: 200px;
  left: 43%;
}
.box_4_title {
  color: white;
  font-size: 28px;
  font-weight: 540;
  position: relative;
  bottom: 200px;
  left: 33%;
}
.box_5_title {
  color: white;
  font-size: 28px;
  font-weight: 540;
  position: relative;
  bottom: 200px;
  left: 32%;
}

.box_container_3 {
  display: flex;
  gap: 20px;
  padding: 10px 80px;
}
.box_6_title {
  color: white;
  font-size: 28px;
  font-weight: 540;
  position: relative;
  bottom: 200px;
  left: 35%;
}
.box_7_title {
  color: white;
  font-size: 28px;
  font-weight: 540;
  position: relative;
  bottom: 200px;
  left: 38%;
}

.chose_title {
  font-size: 30px;
  font-weight: 700;
}
.chose_container {
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}
/* about section */
.hotel {
  background-color: #fbb46310;
  width: 30%;
  border-radius: 20px;
}
.hotel_inner_information {
  padding: 25px;
}

.map {
  background-color: #29cdf621;
  width: 30%;
  border-radius: 20px;
}
.chose_info_container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.prize {
  background-color: #e944441f;
  width: 30%;
  border-radius: 20px;
  margin-left: 450px;
  margin-top: 30px;
  margin-bottom: 100px;
}
.prize_inner_information {
  padding: 20px;
}

.discount_section {
  text-align: center;
}
.discount_title {
  font-size: 20px;
  font-weight: 600;
}
/* discount sector */
.toor {
  background-image: url(./Images/Group\ 39.png);
  width: 500px;
  height: 450px;
  display: flex;
  align-items: center;
  padding-left: 600px;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.toor_two {
  background-image: url(./Images/Group\ 40.png);
  width: 1050px;
  padding-left: 40px;
  height: 450px;
  display: flex;
  align-items: center;

  background-repeat: no-repeat;
  border-radius: 20px;
}
.box {
  position: relative;
  width: 370px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.788);
}
.satorni_toor_container {
  display: flex;
  justify-content: center;
}
.satorni_toor_container {
  margin-bottom: 20px;
}

.all_packs {
  justify-content: center;
  background-color: #ff5400;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  margin-left: 45%;
}
.perfect_place_container {
  display: flex;
  padding: 0 90px;
  justify-content: center;
  gap: 40px;
  padding-top: 70px;
}
.perfect_place_title {
  font-size: 25px;
  font-weight: 600;
}
.perfect_place_container ul li {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: small;
}
.perfect_btn {
  margin-left: 40px;
}
iframe {
  border-radius: 10px;
}

/* log in section */
.login_title {
  font-size: 20px;
  font-weight: 600;
}
.login_container {
  display: flex;
  gap: 0px;
  padding-left: 200px;
  margin-top: 40px;
}
.login_form {
  border: 2px solid #ff5400;
  padding: 20px 30px;
  height: 250px;

  border-radius: 20px;
}
.common_input {
  border: none;
  background-color: #9595c01e;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
}
.sub_btn {
  padding: 10px 105px;
}
.login_img img {
  width: 110%;
  height: 300px;
  padding-left: 40px;
}
.log_img_banner {
  background-color: #ff5400;
  width: 200px;
  height: 60px;
  padding-top: 10px;
  color: white;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}
span {
  font-size: 21px;
  font-weight: 500;
}
.login_banner_container {
  position: relative;
  transform: rotate(-30deg);
  bottom: 210px;
  left: 387px;
}
/* footer section */
footer {
  background-color: #13131815;
  padding-top: 100px;
  padding-bottom: 50px;
}
.travel {
  color: #ff5400;
}
.foot_container {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.foot_discription {
  text-align: center;
  justify-content: center;
}
.social_immg {
  margin-left: 43%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.foot_section {
}
.all_right {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

/* risponsive for mobile devise */

@media screen and (max-width: 576px) {
  nav > .logo_title {
    padding-left: 0;
  }
  .popular_container {
    display: block;
  }
  .box_container_1,
  .box_container_2,
  .box_container_3 {
    flex-direction: column;
  }
}
.hotel,
.map,
.prize {
  flex-direction: column;
  grid-template-columns: repeat(1, 1fr);
}
/* risponsiv for tab */
@media screen and (min-width: 576px) and (max-width: 990px) {
  .popular_container {
    padding: 0px;
  }
}
